{% extends 'layout.html.twig' %}
{% block title %} Staff -  {{parent()}}{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <table class="table table-bordered  table-hover">
        <thead> 
        <th>Number</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Subject</th>
        <th>Created Date </th>
        <th>Updated Date</th>
    </thead>
    <tbody>
        {% for ticket in tickets %}    
            <tr>
                <td>{{ticket.id}}</td>
                <td>
                    {% if ticket.priority %}
                    {{ ticket.priority.priority}}
                    {% else %}
                        not defined 
                         {% endif %}
                </td>
                
                <td>
                    {% if ticket.status %}  
                    {{ticket.status.status}}
                    {% else %}
                        not defined
                        {% endif %}
                </td>
                <td>{{ticket.subject}}</td>
                <td>{{ticket.createdDate |date("m/d/Y H::s")}}</td>
                <td>
                    {% if ticket.getupdatedDate is defined %}
{{ticket.updatedDate  }}
{% else %}
                       not defined
                        {% endif %}
                                    </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}