{% extends 'layout.html.twig' %}
{% block title %} Staff -  {{parent()}}{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <table class="table table-bordered  table-hover">
        <thead> 
        <th>Number</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Subject</th>
        <th>Created Date </th>
        <th>Updated Date</th>
    </thead>
    <tbody>
        {% for ticket in tickets %}    
            <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.priority.priority}}</td>
                <td>{{ticket.status.status}}</td>
                <td>{{ticket.subject}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}