{% extends 'layout.html.twig' %}
{% block title %} Ticket  -  {{parent()}}{% endblock %}
{% block  navbar %}
    {{ include('menu/menu_back.html.twig') }}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            {% if ticket %}
            <div class="row" >
                <div class="row">
                    <h1 class="col-md-offset-4"> {{ ticket.subject}}</h1>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5" >   
                        <div class="row">    <b>Status :</b> {{ ticket.status}}</div>
                        <div class="row"><b>Priority :</b> {{ ticket.priority }}</div>
                        <div class="row"><b> Created at : </b>{{ticket.createdDate |date("m/d/Y H::s")}} </div>
                        {% if ticket.getupdatedDate is defined %}
                            <div class="row"> <b>  Updated at : </b> {{ticket.updatedDate  |date("m/d/Y H::s")}} </div>
                        {% endif %}
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row"><b>First Name: </b>{{ ticket.firstname}} </div>
                        <div class="row" ><b>Last Name : </b> {{ ticket.lastname}}</div>
                        <div class="row"><b>  Phone number :</b> {{ ticket.phonenumber }}</div>
                        <div class="row"><b>Email :</b>{{ ticket.email }}</div>
                    </div>
                </div>
            </div>
            {% endif %}       
            <div class="row">
                <div class="row">    <b>  Assigned To :</b> </div>
                <div class="row">    <b>  Due Date : </b> </div>
            </div>
        </div>
    </div>
{% endblock %}
 